*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}


/* inizio debug */

.debug .title{
    width: 900px;
    height: 200px;
    background-color: #000;
}

.debug .info{
    width: 300px;
    height: 500px;
    background-color: red;
}

.debug .img-cnt{
    width: 600px;
    height: 500px;
    background-color: aqua;
}

.debug .sub{
    height: 700px;
    background-color: cyan;
}

.debug .phone-number{
    height: 200px;
    background-color: chocolate;
}

.debug .s4{
    height: 200px;
    background-color: purple;
}


.debug .s4{
    height: 300px;
    background-color: purple;
    border: 1px solid black;
}

.debug .operations .operations-fi{
    background-color: coral;
    height: 300px;
    border: 1px solid black;
}

.debug .free-trial{
    height: 300px;
}

.debug footer{
    height: 500px;
}



/* fine debug */

/* inizio header */

header{
    width: 100%;
    position: fixed;
    z-index: 999;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #fff;
}

.left-menu *{
    margin-right: 15px;
    margin-left: 10px;
}

.left-menu a{
    text-decoration: none;
    color: #000;
}

.right-menu *{
    margin-right: 15px;
    margin-left: 10px;
}

.right-menu a{
    text-decoration: none;
    color: #000;
}

.btn{
    background-color: rgb(0, 81, 255);
    color: #fff;
    padding: 7px 12px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover{
    background-color: rgb(0, 140, 255);
}

/* fine header */

/* inizio main */

.jumbotron{
    background-color: aquamarine;
    padding-top: 10vh;
    position: relative;
    height: 90vh;
}

.title{
    position: absolute;
    left: 30%;
}

.info{
    position: absolute;
    left: 30%;
    top: 40%;
}

.img-cnt{
    position: absolute;
    top: 45%;
    right: 20%;
}

section{
    width: 60%;
    margin: auto;
}

/* section 1 */

.sub-info{
    margin-top: 8%;
}

.sub-info h2{
    font-size: 30px;
}

.sub-info h5{
    display: inline-block;
    margin: 20px 15px;
}

.radio-btn{
    width: 1rem;
    height: 1rem;
    background-color: blue;
    display: inline-block;
    border-radius: 50%;
}

/* section 2 */

.sub-cnt{
    display: flex;
    justify-content: space-between;
}

.sub{
    width: calc(90% / 3);
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

.sub h5{
    text-align: center;
    padding: 10px;
}

/* section 3 */

.phone-number{
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
}

.phone-number h5{
    text-align: center;
    padding: 10px;
}

/* section 4 */
.dropbox-partner{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.s4{
    width: calc(100% / 2);
}

/* section 5 */

.op-cnt h2{
    margin-top: 130px;
}

.operations{
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
}

.operations-fi{
    width: calc(100% / 3);
}

.sect-6{
   margin-top: 30px;
   padding: 20px 0;
}

/* companies section */

.companies{
    display: flex;
    width: 100%;
}

.company{
    display: flex;
    flex-flow: row wrap;
    margin-top: 150px;
}

.square{
    width: 287px;
    height: 250px;
    border: 1px solid black;
}

.green{
    background-color: green;
}

.informations{
    background-color: lightgray;
}

/* free-trial sect */

.free-trial{
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* FAQ section */

.faq{
    margin-top: 150px;
}

.faq h2{
    margin-bottom: 40px;
}

.questions{
    padding: 30px;
    font-weight: bold;
    display: inline-block;
}

/* footer */

footer{
    background-color: #000;
    width: 100%;
    margin-top: 150px;
}

.footer-flex-cnt{
    width: 70%;
    margin: auto;
    display: flex;
}

.footer-list{
    width: calc(100% / 5);
    margin-top: 5%;
}

.footer-list *{
    color: #fff;
    list-style: none;
    margin-top: 8px;
}

.footer-list ul li:last-child{
    margin-bottom: 60px;
}

.footer-list h3{
    margin-bottom: 10px;
}

footer hr{
    width: 40%;
}

footer h6,i{
    display: inline-block;
    font-size: 0.8rem;
}
